*{
    padding: 0%;
    margin: 0%;
}
main{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tra{
margin-top: 100px;
    background-color: aqua;
    color: brown;
    width: 50px;
    height: 50px;
    border-radius:10px ;
    animation: move 2s ease-in-out 1s infinite reverse ;
    box-shadow: 5px 5px 5px black;

}
@keyframes move {
    0%{
        transform: rotate(360deg);
    }
    
}
