
body{
   margin: 0%;
}
nav{
    display: flex;
justify-content: center;
justify-content: space-around;
margin-top: 0%;
height: 5rem;
align-items: center;
width: 100vw;
text-transform: uppercase;
backdrop-filter: blur(100px);
position: fixed;

}

ul{display: flex;
  gap: 2rem;
    list-style: none;
    font-weight: 700;
    
}
button{
    height: 48px;
    width: 129px;
    background-color: aqua;
    color: aliceblue;
    font-weight: 600;
    border-radius: 100px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px;

}
 .rev i{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    left: 11rem;
    top:-2rem;
 
  
 }
 .content h1{
    font-size: 5rem;
    line-height: 0.5;
    letter-spacing: 0.1rem;
    font-family:  Helvetica;

 }
 .content p{
    font-family:  Helvetica;
    font-weight: 400;
    line-height:1.2rem;
 }
 .vedio{
   height:fit-content;
margin: 0%;
    margin-top: 50px;
 }
 .main{
    display:flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
     
 }
 li:hover{
   transform: scale(1.2);
    transition: all 1s;
 }
 .lit{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: 700;
   text-align: center;
 }
 footer{
   margin-bottom: 0%;
   min-width: 100vw;
   height: 15rem;
   background-color: rgb(39, 37, 37);
   color: aliceblue;
 }
 .fot{
   display: grid;
  grid-template-columns: 5;
  grid-template-rows: 1;
  margin-top: 1rem;
 }
 .fot1{
   display: flex;
   flex-direction: column;
   margin-left:3rem;
 }
 .fot2{
   grid-column: 2/3;
   display: flex;
   flex-direction: column;
 }
 .fot3{
   grid-column: 3/4;
   display: flex;
   flex-direction: column;
 }
 .fot4{
   grid-column: 4/5;
   display: flex;
   flex-direction: column;
 }
 .fot5{
   grid-column: 5/6;
 }
 video{
  padding: 0%;
  transition: all 1s ease;
  margin: 5%;
  background-color: yellow;
  
 }
/* video:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 20px black;
  margin-top: 10px;
 
} */
@media  (max-width:480px){
  .nav{
    width:60% ;
    height: fit-content;
    display: flex;
    justify-content: center;
   justify-content: space-around;
   margin-left: 29%;

  }
  .main{
    display: flex;
    flex-direction: column;
margin-left: 10rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5rem;
    line-height: 1rem;

  }
  .content {
   font-size: 2rem;
   font-weight: 400;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-self: center;
  }
  .lit{
    margin-left: 40%;
  }
  .fot{
    width: 190vw;
    background-color: black;

  }

}